@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the spinner element */
.loading-spinner {
  animation: spin 1s infinite linear;
  color: #91a2b7;
}

/* INPUT TYPE NUMBERS ARRWOS REMOVAL */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
